Control structure Statement:-
-------------------------------
Loop:-
1. While Loop:- When condition is not given but intialization and updation are given
2. For Loop:- When Condition,intialization and updation is given

In [5]:
a=1;
while(a<=10):
    print("My name is harshit Uprety")
    a+=1
print(f"the value of a = {a}")

My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
My name is harshit Uprety
the value of a = 11

In [7]:
n=int(input('Enter a number'))
i=1
ans=0
while(i<=n):
    ans+=i
    i+=1
print(f"Sum of n natural number={ans}")

Sum of n natural number=21

In [9]:
n=int(input('Enter a number'))
i=1
ans=1
while(i<=n):
    ans*=i
    i+=1
print(f"factorial of n natural number={ans}")

factorial of n natural number=3628800

In [1]:
n=int(input("enter a number"))
i=4
while(i<=100):
    print(f"{n} * {i} = {n * i}")
    i+=1

50 * 4 = 200
50 * 5 = 250
50 * 6 = 300
50 * 7 = 350
50 * 8 = 400
50 * 9 = 450
50 * 10 = 500
50 * 11 = 550
50 * 12 = 600
50 * 13 = 650
50 * 14 = 700
50 * 15 = 750
50 * 16 = 800
50 * 17 = 850
50 * 18 = 900
50 * 19 = 950
50 * 20 = 1000
50 * 21 = 1050
50 * 22 = 1100
50 * 23 = 1150
50 * 24 = 1200
50 * 25 = 1250
50 * 26 = 1300
50 * 27 = 1350
50 * 28 = 1400
50 * 29 = 1450
50 * 30 = 1500
50 * 31 = 1550
50 * 32 = 1600
50 * 33 = 1650
50 * 34 = 1700
50 * 35 = 1750
50 * 36 = 1800
50 * 37 = 1850
50 * 38 = 1900
50 * 39 = 1950
50 * 40 = 2000
50 * 41 = 2050
50 * 42 = 2100
50 * 43 = 2150
50 * 44 = 2200
50 * 45 = 2250
50 * 46 = 2300
50 * 47 = 2350
50 * 48 = 2400
50 * 49 = 2450
50 * 50 = 2500
50 * 51 = 2550
50 * 52 = 2600
50 * 53 = 2650
50 * 54 = 2700
50 * 55 = 2750
50 * 56 = 2800
50 * 57 = 2850
50 * 58 = 2900
50 * 59 = 2950
50 * 60 = 3000
50 * 61 = 3050
50 * 62 = 3100
50 * 63 = 3150
50 * 64 = 3200
50 * 65 = 3250
50 * 66 = 3300
50 * 67 = 3350
50 * 68 = 3400
50 * 69 = 3450
50 * 70 = 3500
50 * 71 = 3550
50 * 72 = 3600
50 * 73 = 3650
50 * 74 = 3700
50 * 75 = 3750
50 * 76 = 3800
50 * 77 = 3850
50 * 78 = 3900
50 * 79 = 3950
50 * 80 = 4000
50 * 81 = 4050
50 * 82 = 4100
50 * 83 = 4150
50 * 84 = 4200
50 * 85 = 4250
50 * 86 = 4300
50 * 87 = 4350
50 * 88 = 4400
50 * 89 = 4450
50 * 90 = 4500
50 * 91 = 4550
50 * 92 = 4600
50 * 93 = 4650
50 * 94 = 4700
50 * 95 = 4750
50 * 96 = 4800
50 * 97 = 4850
50 * 98 = 4900
50 * 99 = 4950
50 * 100 = 5000

In [2]:
n = int(input('Enter a number'))
count=0
i=1
while(n<=i):
    if(n%i==0):
        count+=1
        i+=1
    if(count==2):
        print("prime number")
    else:
        print('not prime')

In [11]:
n=int(input("Enter a number:"))
i=1
a=-1
b=1
while(i<=n):
    c=a+b
    print(c)
    a=b
    b=c
    i+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

WAP to reverse a number

In [4]:
n=int(input("Enter a number:"))
i=0
if(n<=0):
    print("please enter a positive number")
while(n>0):
    a = n % 10
    i = i*10+a
    n = n // 10
print("reverse=",i)

ValueError: invalid literal for int() with base 10: 'mom'

WAP to make a palendrome number

In [ ]:
n = int(input("enter a palendrome:"))
i = 0
m=n
if(n<=0):
    print("enter a valid input")
else:
    while(n>0):
        a = n %10
        i = i*10+a
        n = n //10
if(m==i):
    print(f"palendrom={i}")
else:
    print(f"palendrom={i}")

WAP for armstrong number

length method - tells length of the characters

In [9]:
n = input('Enter a number')
x=len(n)
n1 = int(n)
m=n1
ans=0
if(n1<=0):
    print(f"invalid number")
else:
   while(n1>0):
    r=n1%10
    ans = ans +r**x
    n1=n1//10
if(ans==m):
    print(f"Armstrong number")
else:
    print("not armstrong")

not armstrong

nested while loop:-
----------------------
When we execute a while loop inside another while loop is called nested while loop

In [2]:
i=1
while(i<=5):

    j=1
    while(j<=4):
        print("*",end="")
        j+=1
    i+=1
    print()

****
****
****
****
****

WAP to take 2 input from user after the input of second find all the palendrome number of first input digit

In [ ]:
n1 =int(input('Enter a number'))
n2=100
n3=n2+1
i=1
while(i<=n1):
    temp=n3
    ans=0
    while(temp>0):
        r=temp%10
        ans=ans*10+r
        temp=temp//10
    if(ans==n3):
        print(ans)
        i+=1
    n3+=1

101
111
121

In [14]:
n1 = int(input("Enter a number"))
n2 = int(input("enter a number"))
i=n1+1
while(i<n2):
    j=1
    count=0
    while(j<=i):
        if(i%j==0):
            count+=1
        j+=1
    if(count==2):
        print("prime=",i)
    i+=1

prime= 7
prime= 11
prime= 13
prime= 17
prime= 19
prime= 23
prime= 29
prime= 31
prime= 37
prime= 41
prime= 43
prime= 47
prime= 53
prime= 59
prime= 61
prime= 67
prime= 71
prime= 73
prime= 79
prime= 83
prime= 89

STRING & FOR LOOPS:-
-------------------------
String is a collection of characters

In [ ]:
str1 = 'hello'
print(type(str))
str2 = "Hi, How are you?"
print(str2)
str3 ='''
hhwiudhwuhd
jwojdowjd
'''

<class 'type'>

In [3]:
str1='welcome'
print(str1[0])
print(len(str1))
x=len(str1)
print(str1[x-1])

w
7
e

**SLICE**:-
Slice(start,stop,step)
The slice() function returns a slice object that is used to slice any sequence (string, tuple, list, range, or bytes).

In [8]:
str1=str(67278221)
print(str1[-7])
print(str1[2:5])
print(str1[2:4:2])
print(str1[::-1])

7
278
2
12287276

In [ ]:
str1="hello"
str2='Indore'
str3=str1+ " "+str2
print(str3)

In [ ]:
x="Welcome"
y=x.capitalize()
print(y)
print(x.upper())
print(x.lower())

For Loops:-
---------------------
1. For-in loop: in is a member operator
2. For i in range (initialization, condition,updation)

In [1]:
str1="Hello"
x=len(str1)
for i in range(x):
    print(str1[i])

H
e
l
l
o

In [13]:
str1="hello"
rev=" "
x=len(str1)
for i in range(x):
    rev = str1[i] + rev
print(rev)

olleh

In [16]:
str1 = 'Welcome'
v=str1.lower()
for i in v:
    if(i == "e" or i == "a" or i == "i" or i == "u"):
        print(f"vowels={i}")
    else:
        print(f"consonent={i}")

consonent=w
vowels=e
consonent=l
consonent=c
consonent=o
consonent=m
vowels=e

In [14]:
s="welcome"
for i in s:
    print(i)

w
e
l
c
o
m
e